body{
  background-image: url(assets/Images/texture.jpg);
height: 700px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.container {
  margin-top: 10%;
  text-align: center;
}

#first {
  height: 100%
}

#mid {
  margin: 25px 10px 25px 10px;
}
.card {
  border: 10px rgb(40, 58, 78) solid;
}
.card-body {
  background-color: rgb(119, 160, 146);
  color: white;
}